.cart {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem;
  flex-direction: column;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  padding: 25px;
}

.cart-listing {
  list-style-type: none;
  width: 100%;
  padding: unset;
}

.checkout-button {
  display: block;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #f0c14b;
  color: #111;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  justify-content: space-between;
}

.checkout-button:hover {
  background-color: #c79e00;
}

.cart-header {
  font-size: 18px;
}

.cart-header > h4 {
  font-size: 24px;
  margin: unset;
}

.cart-item {
  display: flex;
  align-items: center;
}

.cart-item > img {
  width: 35%;
}

.item-detail {
  flex: 1;
}

.remove-item-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-item-div > button {
  margin-right: 5px;
  background-color: red;
  color: white;
  outline: none;
  border: unset;
  padding: 4px;
  border-radius: 20%;
  cursor: pointer;
}
